.uppercase {
    text-transform: uppercase;
}
.container2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.cta3 {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.cta3--primary {
    background: #4c58a8;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 12px 36px;
}
.cta3--primary:hover {
    background: #6c7ff2;
}
.cta3--primary:active {
    background: #7f8ff4;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.cta3--inside {
    margin-left: -96px;
}
.form__field {
    border-radius: 15px;
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}
.form{
    margin-bottom: 25px;
}