@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;	
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 40px;
	margin-top: 30px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: rgb(10,5,73);
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	border-radius: 10px;
	color: white;
	background-color: transparent;
	border: 2px solid rgb(10,5,73);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.cta:hover {
	background-color: rgb(42, 61, 114);
	color: white;
	
}
.content_page{
	display: none;
}
.loader{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color:rgb(10,5,73);
	position: absolute;
}	
.loader>div{
	height: 100px;
	width: 100px;
	border: 15px solid #29323c;
	border-top-color:blue;
	position: absolute;
	margin:auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	animation: spin 1.5s infinite linear;
}
p .cta:hover{
	color: white !important;
}
.cta2 {
	display: inline-block;
	border-radius: 10px;
	padding: 10px 50px;
	color: white;
	background-color: transparent;
	border: 2px solid rgb(10,5,73);
	font-size: 1.8rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
i{
	margin-right: 10px;
}
.cta2:hover {
	background-color: rgb(42, 61, 114);
}
.brand h1 { 
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: rgb(12, 27, 238);
}
#header {
	position: fixed;
	z-index: 1000;
	top: 0.01%;
	left: 0;
	width: 100vw;
	height: auto;
	transition: top .5s;
}
#header .header {
	min-height: 8vh;
	background-color: rgb(10, 5, 73);
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content:space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 20px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(10,5,73,0.97);
	width: 100vw;
	height: 100vh;
	left: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 10px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.1s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: rgb(106, 112, 204);
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.7);
	margin-right: 20px;
}
#header .hamburger .bar {
	height: 3px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition:0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
#profile {
	background-image: url(./img/background.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	flex-direction: column;
	justify-content: center;
}
#profile::after {
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	color:rgb(255, 0, 170);
	opacity: 0.7;
	z-index: -1;
}
#profile .profile {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
}
#profile h1 {
	display: block;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.2s ease forwards;
	animation-delay: .4s;	
	text-align: center;
}
#profile h1:nth-child(1) {
	animation-delay: 1s;
}
#profile h1:nth-child(2) {
	animation-delay: 2s;
}
#profile h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#profile h1 span {
	position: absolute;
	top: 0;			
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgb(10,5,73);
	animation: text_reveal_box .6s ease;
	animation-delay: 0.5s;
	border-radius: 55px;
}
#profile h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#profile h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#profile h1:nth-child(3) span {
	animation-delay: 2.5s;
}
#profile .container{
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
#skills .skills {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#skills .skill-top {
	max-width: 550px;
	margin: 0 auto;
}
#skills .skill-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#skills .skill-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-align:initial;
	padding: 30px;
	border-radius: 20px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	height: 390px;
	width: 390px;
}
#skills .skill-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #2b333b 0%, #536170 100%);
	opacity: 0.9;
	z-index: -1;
}
#skills .skill-bottom .icon {
	height: 55px;
	width: 55px;
	margin-bottom: 20px;
}
#skills .skill-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
}
#skills .skill-item p {
	color: white;
}
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 2.2rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	text-align: justify;
	font-size: 1.3rem;
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow:hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}

#experience .experience-container{
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-right: 61px;
}
#experience .experience-header h1 {
	margin: 170px 0px 0px 50px;
}
#experience .experience-item-left{
	width: 100%;
	text-align: right;
	padding: 30px;
	margin: 30px;
	display: flex;
	flex-direction:column;
	align-items: right;
	margin-right: -20px;
}
#experience .experience-item-center{
	width: 5%;
	padding: 30px;
	margin: 30px;
	display: flex;
	flex-direction:column;
	align-items: center;
}
#experience .experience-item-left p {
	text-rendering: initial;
	font-size: 1.6rem;
}
#experience .experience-item-right{
	width: 100%;
	text-align: left;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: left;
	align-items: left;
	flex-direction:column;
}
#experience .experience-item-right h1 {
	font-size: 3rem;
}
#experience .experience-item-right h2 {
	font-size: 1.5rem;
	margin-top: 10px;
}
#experience .experience-item-right p {
	margin-top: 25px;
	text-align: justify;
  	text-justify: inter-word;
	justify-content: center;
	max-width: 600px;
}
#experience .col-right p {
	margin-bottom: 20px;
	text-align: justify;
  	text-justify: inter-word;
	justify-content: center;
}
#aboutme .aboutme {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#aboutme .col-left {
	width: 250px;
	height: 360px;
}
#aboutme .col-right {
	width: 100%;
	justify-content: center;
}
#aboutme .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#aboutme .col-right p {
	margin-bottom: 20px;
	text-align: justify;
  	text-justify: inter-word;
	justify-content: center;
}
#aboutme .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#aboutme .col-left .aboutme-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 4px solid white;
}
#aboutme .col-left .aboutme-img::after {
	content: '';
	position: absolute;
	background-color: rgb(10, 5, 73);
	left: -33px;
	top: 19px;
	height: 100%;
	width: 100%;
	border: 5px solid rgb(10, 5, 73);
	z-index: -1;
	border-radius: 10px;
}
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	height: 50px;
	width: 50px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
#extras .extras {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#extras .extras-items {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 61px;
}
#extras .extras-item {
	width: 100%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:row;
}
#extras .extras-top p{
	text-align: center;
}
#extras .extras-top a{
	font-weight: bold;
	color: rgb(39, 26, 212);
}
#extras .extras-top {
	max-width: 500px;
	margin: 0 auto;
}
#footer {
	background-image:  linear-gradient(211deg, rgba(62,140,133,1) 0%, rgba(85,95,175,1) 0%, rgba(19,5,73,1) 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 20px;
	margin-top: 10px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.4s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: rgb(10,5,73);
		font-weight: bold;
}
}
@keyframes spin{
	100%{
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 900px) {
	#experience .experience-container{
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 61px;
	}
	#experience .experience-item-left{
		text-align: center;
		display: flex;
		flex-direction:column;
		margin-bottom: -60px;
	}
}

@media only screen and (min-width: 768px) {
	
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}
	#profile h1 {
		font-size: 7rem;
	}
	#skills .skill-bottom .skill-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 550px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	#aboutme .aboutme {
		flex-direction: row;
	}
	#aboutme .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#aboutme .aboutme .col-left .aboutme-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 8px solid rgb(10, 5, 73);
		background-color: rgb(10, 5, 73);
	}
	#aboutme .col-right {
		text-align: left;
		padding: 30px;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	#aboutme .col-right h1 {
		text-align: left;
	}
	#contact .contact {
		flex-direction: column;
		padding: 10px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 80%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: cover	;
		background-position: bottom center;
		height: 55px;
		width: 55px;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	#extras .extras {
		flex-direction: column;
		padding: 10px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#extras .extras-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		justify-content: space-evenly;
		margin: 0;
	}
	#extras .extras-item {
		margin: 0;
		flex-direction: row;
	}

}
@media only screen and (min-width: 1200px) {
	
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	#skills .skill-bottom .skill-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
.slider-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 20px;
}
.slider {
	position: absolute;
	width: 2.1rem;
	height: 0.48rem;
	opacity: 0;
	transform: scale(0.3);
	animation: move-slider 3s ease-out infinite;
}
.slider:first-child {
	animation: move-slider 3s ease-out 1s infinite;
}
.slider:nth-child(2) {
	animation: move-slider 3s ease-out 2s infinite;
}
.slider:before, .slider:after {
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	width: 50%;
	background: rgb(10,8,73);
}
.slider:before {
	left: 0;
	transform: skewY(28deg);
}
.slider:after {
	right: 0;
	width: 50%;
	transform: skewY(-28deg);
}
@keyframes move-slider {
	25% {
		opacity: 1;
   }
	33.3% {
		opacity: 1;
		transform: translateY(2.28rem);
   }
	66.6% {
		opacity: 1;
		transform: translateY(3.12rem);
   }
	100% {
		opacity: 0;
		transform: translateY(4.8rem) scale(0.5);
   }
}
